---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="/" class="logo"><img src="/images/{{ site.logo }}"></a>
        <h1>
          {{ site.title }}
        </h1>
        <h2>
          {{ site.description }} <br /> <a style="color: #aaa;" href="/tags#english">blog in English</a> | <a style="color: #aaa;" href="/tags#shqip">artikuj në shqip</a>
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <a href="/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span>
    <a title="project" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span>
    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="/assets/js/canvas.js"></script>
</body>
</html>
