---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page">

    <div class="block-left">
      <div class="content">
        <a href="/" class="logo"><img src="/images/{{ site.logo }}"></a>
        <div class="post-title-section">
          <div class="section-line">Posts <em>/</em></div>
          <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          <ul class="tags">
            {% for tag in page.tags %}
              <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
              {% unless forloop.last %}
              {% endunless %}
            {% endfor %}
          </ul>
          <div class="section-line reverse"><a href="/posts">Back to posts</a> <em>/</em></div>
        </div>
      </div>
    </div>

    <div class="block-right">
      <div class="share-buttons">
        {% include share.html %}
      </div>
      <a href="../posts" title="posts" class="posts-menu-icon"></a>
      <a title="projects" class="projects-menu-icon">
        <span></span>
      </a>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
        {% include page-pagination.html %}
      </div>
    </div>
    {% include scripts.html %}
    {% include overlay.html %}
</body>
</html>
